<div class="container">
    <div class="col-8 ">
<table class="table table-bordered table-hover border-primary table-success ">
  <thead>
    <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Orders">
       

           
                    <td>
                        <a [routerLink]="'/orders/orderstest'">Test Link</a>
                    </td>
                  
                  
                  
                    <td>
          <!--Handle based on the Params-->
                     <a [routerLink]="['/order-details', item.OrderID]">{{item.OrderID}}</a> 



  <!--Handle based on the queryParams-->
     <!-- <a [routerLink]="['/order-details']"
         [queryParams]="{'ID': item.OrderID}" >{{item.OrderID}}</a>  -->

<!--Handle based on the queryParams-->
 <!-- <a [routerLink]="['/order-details']"
     fragment="{{item.OrderID}}">{{item.OrderID}}</a> -->
              <!-- <a class="btn table-hover btn-outline-info"
                  (click)="evtNavigation(item.OrderID)"> -->
                          <!-- {{item.OrderID}}</a> -->
                        </td>
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderLocation}}</td>
       
    </tr>
  </tbody>
</table>
</div>
</div>
<router-outlet></router-outlet>